
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            数据概况
            <small>店铺数据统计</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-home"></i>店铺概况</li>
            <li class="active">数据概况</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-heart-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">收藏人数</span>
                        <span class="info-box-number"><%=data.c_collect%></span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div><!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">总订单数</span>
                        <span class="info-box-number"><%=data.c_order%></span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div><!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">粉丝人数</span>
                        <span class="info-box-number"><%=data.c_fans%></span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div><!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">购买人数</span>
                        <span class="info-box-number"><%=data.c_buy%></span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"><strong id="monStatTitle" class="text-red"></strong>统计数据</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <!--<p class="text-center">-->
                                    <!--<strong>店铺趋势图</strong>-->
                                <!--</p>-->
                                    <div class="chart" id="chart-canvas">

                                    </div>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- ./box-body -->

                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <!--<span class="description-percentage text-green"><i class="fa fa-caret-up"></i>0%</span>-->
                                    <h5 class="description-header"><%=data.m_buy%></h5>
                                    <span class="description-text">月购买人数</span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <!--<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 0%</span>-->
                                    <h5 class="description-header">￥<%=data.m_money%></h5>
                                    <span class="description-text">月交易额</span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <!--<span class="description-percentage text-green"><i class="fa fa-caret-up"></i>0%</span>-->
                                    <h5 class="description-header">0</h5>
                                    <span class="description-text">月PV</span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block">
                                    <!--<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 0%</span>-->
                                    <h5 class="description-header">0</h5>
                                    <span class="description-text">月UV</span>
                                </div><!-- /.description-block -->
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->

        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <!-- TABLE: LATEST ORDERS -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">最新订单</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                <tr>
                                    <th>购物人</th>
                                    <th>购物商品</th>
                                    <th>支付金额</th>
                                    <th>支付状态</th>
                                    <th>订单状态</th>
                                </tr>
                                </thead>
                                <tbody>

                                <% for(var i=0;i<data.orders.length;i++){
                                    var order = data.orders[i];
                                %>
                                <tr>
                                    <td><a href="#"><%=order.pay_name%></a></td>
                                    <td><a href="/keb/orderDetail?order_id=<%=order.order_id%>"><%=order.prods_name%></a></td>
                                    <td>￥<%=order.amount%></td>

                                    <% if(order.paid == 0){%>
                                    <td><span class="label label-danger">未支付</span></td>
                                    <%}else if(order.paid == 1){%>
                                    <td><span class="label label-success">已支付</span></td>
                                    <%}%>

                                    <% if(order.status == 1){%>
                                    <td><span class="label label-danger">等待付款</span></td>
                                    <%}else if(order.status == 2){%>
                                    <td><span class="label label-warning">等待发货</span></td>
                                    <%}else if(order.status == 3){%>
                                    <td><span class="label label-info">已发货</span></td>
                                    <%}else if(order.status == 4){%>
                                    <td><span class="label label-default">已退款</span></td>
                                    <%}else if(order.status == 5){%>
                                    <td><span class="label label-default">已关闭</span></td>
                                    <%}else if(order.status == 6){%>
                                    <td><span class="label label-success">已成功</span></td>
                                    <%}%>


                                </tr>
                                <% } %>

                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <a href="/keb/orders?tab=0&status=-1" class="btn btn-sm btn-primary btn-flat pull-right">查看所有订单</a>
                    </div><!-- /.box-footer -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->

        <!-- Main row -->
        <div class="row">
            <div class="col-md-6">
                <!-- PRODUCT LIST -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">销量最多商品</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <ul class="products-list product-list-in-box">

                            <% for(var i=0;i<data.mon_count_prods.length;i++){
                                var prod = data.mon_count_prods[i];
                            %>
                            <li class="item">
                                <div class="product-img">
                                    <%if(prod.pics.length>0){%>
                                        <img src="<%=prod.pics[0].path%>" alt="Product Image"/>
                                    <%}else{%>
                                         <img src="" alt="<%=prod.name%>"/>
                                    <%}%>
                                </div>
                                <div class="product-info">
                                    <a href="javascript:;" class="product-title"><%= prod.name%> <span class="label label-warning pull-right">￥<%= prod.price%></span></a>
                                <span class="product-description">
                                    <%if(prod.description!='null'){%>
                                        <%=prod.description%>
                                    <%}%>
                                </span>
                                </div>
                            </li>
                            <%}%>

                        </ul>
                    </div><!-- /.box-body -->

                </div><!-- /.box -->
            </div><!-- /.col -->
            <div class="col-md-6">
                <!-- PRODUCT LIST -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">分享最多商品</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <ul class="products-list product-list-in-box">

                            <% for(var i=0;i<data.mon_share_prods.length;i++){
                                var prod = data.mon_share_prods[i];
                            %>
                            <li class="item">
                                <div class="product-img">
                                    <img src="<%= prod.url[0]%>" alt="Product Image"/>
                                </div>
                                <div class="product-info">
                                    <a href="javascript:;" class="product-title"><%= prod.name%> <span class="label label-warning pull-right">￥<%= prod.old_price%></span></a>
                        <span class="product-description">
                          <%=prod.description%>
                        </span>
                                </div>
                            </li>
                            <%}%>

                        </ul>
                    </div><!-- /.box-body -->

                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->

    </section><!-- /.content -->


    <script>
        //趋势折线图
        var categories = JSON.parse('<%- JSON.stringify(data.line_x)%>');
        var series = JSON.parse('<%- JSON.stringify(data.line_y)%>');

    </script>