<style type="text/css">
    .content-header{
        margin-bottom: -30px;
        line-height: 70px;
    }
    .btn{
        position: relative;
        bottom: 7px;
    }
    p{
        display: block;
        min-height:40px;
        line-height: 40px;
    }
    .bill{
        width: 430px;
        height: 224px;
        float: right;
        background-color: darkgrey;
        position: relative;
        bottom: 20px;
        margin-right: 20px;
    }
    .bill img{
        width: 100%;
        height: 100%;
    }
</style>
<section class="content-header">
    <h1>课程名称:<%=data.course_name%></h1>&nbsp;&nbsp;
</section>
<p style="float: left;margin-left: 12px;margin-right: 10px">导师:<%=data.user_name%></p>
<button type="button" class="btn btn-info btn-lg">上课人数:<%= data.join_num%></button>
<div class="bill">
    <%if(data.course_bill){%>
    <img src="<%=data.course_bill%>">
    <%}else{%>
    <p>暂无课程海报</p>
    <%}%>
</div>
<section class="content">
    <%if(data.category==0){%>
    <p>舞种:hippop</p>
    <%}else if(data.category==1){%>
    <p>舞种:poping</p>
    <%}else if(data.category==2){%>
    <p>舞种:breaking</p>
    <%}else{%>
    <p>舞种:其它</p>
    <%}%>
    <p>上传时间:<%=data.create_time%></p>
    <p>上课人数:<%=data.join_num%></p>
    <p>课程介绍:<%=data.course_intro%></p>
    <div style="border-bottom:1px solid darkgrey;"></div>
</section>
<section class="content">
    <%for(var i=0;i<data.all_videos.length;i++){%>
    <p style="float: left;margin-right: 15px">第<%=i+1%>课:<%=data.all_videos[i].video_name%></p>
    <p >视频链接<a href="<%=data.all_videos[i].video_url%>"><%=data.all_videos[i].video_url%></a></p>

    <%}%>
</section>
<a style="float: right;margin-top: -50px;margin-right: 20px" href="/hewuqi/editCourse?course_id=<%=data.course_id%>" class="btn btn-primary btn-lg active" role="button">再次编辑课程</a>
<!--<script src="jquery.js"></script>-->
<script type="text/javascript" src="/plugins/My97DatePicker/WdatePicker.js"></script>

