<style type="text/css">
    .content-header {
        margin-bottom: -30px;
        line-height: 70px;
    }

    .btn {
        position: relative;
        bottom: 7px;
    }

    p {
        display: block;
        min-height: 40px;
        line-height: 40px;

    }

    .rows {
        height: 50px;
        line-height: 50px;
        width: 100%;
    }
    .content-rows{
        min-height: 60px;
    }

    .bill {
        width: 430px;
        height: 224px;
        float: right;
        background-color: darkgrey;
        position: relative;
        bottom: 80px;
        margin-right: 40px;
        line-height: 224px;
        text-align: center;
        filter: alpha(opacity=0.6);
        cursor: pointer;
        opacity: 0.9;
        color: white;
    }

    .bill img {
        width: 100%;
        height: 100%;
    }

    .radio {
        float: left;
        margin-top: 10px !important;
        margin-right: 3px;
        margin-left: 15px;
    }
</style>
<form>
<section class="content-header">

    <p style="float: left;">课程名称:</p>&nbsp;&nbsp;
    <div class="col-xs-4"><input type="text" class="form-control" value="<%= data.course_name %>" id="course_name"
                                 required="required" ></div>

    <br/>

    <p style="float: left;width: 60px">导师:</p>&nbsp;&nbsp;
    <div class="col-xs-4"><input type="text" class="form-control" value="<%= data.user_name %>" id="username"
                                 required="required" readonly></div>

</section>

<div class="bill">
    <img src="<%=data.course_bill%>" style="position: absolute;left: 0;top: 0;height: 100%;width: 100%;z-index: -1">
    点击修改课程海报
</div>
<input type="file" id="upload" style="display: none">
<section class="content">
<div class="content-rows" >
    <p style="float: left;width: 60px">舞种:

    <div class="radio">
        <label>
            <input type="radio" name="remeber" id="0" value="option1">
            hippop
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="remeber" id="1" value="option2" >
            breaking
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="remeber" id="2" value="option3">
            poping
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="remeber" id="3" value="option4">
            其它
        </label>
    </div>
</div>
    <div class="content-rows">
    <p style="float: left">课程介绍:</p>&nbsp;&nbsp;
    <div class="col-xs-4"><textarea class="form-control" rows="7"  cols="30"><%=data.course_intro%></textarea></div>
    </div>
</section>
<p>上传课程小节</p>
<div style="border-bottom:1px solid darkgrey;"></div>
<section class="content">
    <div class="wrapper-content">
    <% var length=data.all_videos.length;
    for(var i = 0;i <length;i++){ %>
    <div class="rows" id="<%= data.all_videos[i].video_id%>">

        <p style="float: left;margin-right: 15px">第<%= i+1 %>课:</p>

        <div class="col-xs-4"><input type="text" class="form-control" value="<%= data.all_videos[i].video_name %>"
                                     id="video_name" required="required"></div>
        <p style="float: left;margin-right: 5px">视频链接&nbsp;&nbsp;
        <div class="col-xs-4"><input type="text" class="form-control" value="<%= data.all_videos[i].video_url %>"
                                     id="video_url" required="required"></div>
        <p style="float: left;">时长&nbsp;
        <div class="col-xs-2"><input type="text" class="form-control" value="<%= data.all_videos[i].video_playtime %>"
                                     id="video_playtime" required="required"></div>
    </div>

    <% } %>
    </div>
    <button type="button" class="btn btn-primary" id="addCourse" style="margin-top: 10px">
        继续添加课程
    </button>

</section>
</form>
<button style="margin-left: 30px;margin-top: 20px" class="btn btn-primary btn-lg"
  id="publish" >确定修改</button>


<script type="text/javascript" src="/plugins/My97DatePicker/WdatePicker.js"></script>
<script>
    var tag=<%=length%>;
    var course_type=<%=data.course_type%>;
    var course_id=<%=data.course_id%>;
    var user_id=<%=data.user_id%>;
</script>